# Visual Studio files and directories
.vs/
*.suo
*.user
*.ncb
*.aps
*.pdb
*.obj
*.exe
#*.dll  (add assimp binary to commit)
#*.lib
*.ilk
*.exp
*.log
*.bak
*.sbr
*.pch
*.ipch
*.tlog
*.lastbuildstate
*.VC.opendb
*.VC.db
*.sdf
*.cache
*.res
*.rc.o
*.manifest

# Build output directories
Debug/
Release/
x64/
Win32/
bin/
obj/

# User-specific settings and configurations
*.local
*.vshost.*
*.opensdf
*.opendb

# Intermediate files
_UpgradeReport_Files/
ipch/

# NuGet packages
packages/
*.nupkg

# Other common ignored files
Thumbs.db
Desktop.ini

# compiled shaders
*.cso